.answer-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-block {
    height: 400px;
}

.question__title {
    background-color: rgb(255, 255, 255);
    color: black;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 500px;
    min-height: 80px;
    margin-bottom: 20px;
}